# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Logs, outputs
results/logs/
results/wandb/
*.log

# Data
data/processed/
data/matlab_forward/

# IDEs
.vscode/
.idea/

# OS crap
.DS_Store

# Markdown
REPO_REWRITE_PLAN.md
CODING_ORDER.md